In [ ]:
pip install pandas lxml html5lib requests

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: lxml in /usr/local/lib/python3.12/dist-packages (6.0.2)
Requirement already satisfied: html5lib in /usr/local/lib/python3.12/dist-packages (1.1)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.12/dist-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from html5lib) (0.5.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2026.1.4)

In [ ]:
import pandas as pd
import requests

In [ ]:
url = "https://www.w3schools.com/html/html_tables.asp"

In [ ]:
headers = {"User-Agent": "Mozilla/5.0"}

In [ ]:
response = requests.get(url, headers=headers)
response.raise_for_status()

In [ ]:
tables = pd.read_html(response.text)

/tmp/ipython-input-3072015354.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

In [ ]:
print(f"Total tables found: {len(tables)}")

Total tables found: 2

In [ ]:
df = tables[0]
print(df)

                        Company           Contact  Country
0           Alfreds Futterkiste      Maria Anders  Germany
1    Centro comercial Moctezuma   Francisco Chang   Mexico
2                  Ernst Handel     Roland Mendel  Austria
3                Island Trading     Helen Bennett       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy

In [ ]:
df.to_csv("Scraped_table.csv",index = False)
df.to_excel("Scraped_table.xlsx",index = False)
print("Table saved successfully!")

Table saved successfully!

USING BEAUTIFULSOUP

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
url = "https://www.w3schools.com/html/html_tables.asp"
headers = {"User-Agent": "Mozilla/5.0"}

In [ ]:
page = requests.get(url, headers=headers)
page.raise_for_status()

In [ ]:
soup = BeautifulSoup(page.text, "lxml")
table = soup.find("table")

In [ ]:
headers = [th.text.strip() for th in table.find_all("th")]

In [ ]:
rows = []
for tr in table.find_all("tr")[1:]:
    cells = [td.text.strip() for td in tr.find_all("td")]
    rows.append(cells)

In [ ]:
df  =  pd.DataFrame(rows, columns=headers)
print(df)

                        Company           Contact  Country
0           Alfreds Futterkiste      Maria Anders  Germany
1    Centro comercial Moctezuma   Francisco Chang   Mexico
2                  Ernst Handel     Roland Mendel  Austria
3                Island Trading     Helen Bennett       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy

In [ ]:
df.to_csv("Scraped_table_bs.csv",index = False)
df.to_excel("Scraped_table_bs.xlsx",index = False)
print("Table saved successfully!")

Table saved successfully!

In [ ]:
tables = pd.read_html(url)

for i, table in enumerate(tables):
  table.to_csv(f"table_{i}.csv", index=False)